{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--banner image-->
<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Search Details</span>
          <h1 class="text-capitalize mb-5 text-lg">You have searched for <span>{{q}}</span></h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section doctors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <h2>Search Results</h2>
          <div class="divider mx-auto my-4"></div>
          <p>Below are the results matching your search query.</p>
        </div>
      </div>
    </div>

    <!--doctors card display-->
    <div class="row shuffle-wrapper portfolio-gallery">
      {% if doctor == None %}
      <h5 class="text-center">No Results Found</h5>
      {% else %}
      {% for i in doctor %}
      <div class="col-lg-3 col-sm-6 col-md-6 mb-4 shuffle-item" data-groups="[&quot;cat4&quot;]">
        <div class="position-relative doctor-inner-box">
          <div class="doctor-profile">
            <div class="doctor-img">
              <img src="{{i.image.url}}" alt="medicine-image" class="img-fluid w-100" style="height:300px;">
            </div>
          </div>
          <div class="content mt-3">
            <h4 class="mb-0"><a href="{% url 'doctors:doctorsdetail' i.id %}">Dr. {{i.first_name}} {{i.last_name}}</a></h4>
            <p>{{i.specialization}}</p>
          </div>
        </div>
      </div>
      {% empty %}
      <h5 class="text-center">No Results Found</h5>
      {% endfor %}
      {% endif %}
    </div>


  </div>
</section>

{% endblock %}
