{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .table th, .table td {
        vertical-align: middle;
        text-align: center;
    }

    .table thead th {
        font-weight: 700;
        text-transform: uppercase;
    }

    .table-hover tbody tr:hover {
        background-color: #f8f9fa;
    }

    .table tbody td {
        color: #6F8BA4;
        font-size: 14px;
    }

</style>

<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">View Prescriptions Details</span>
          <h1 class="text-capitalize mb-5 text-lg">Doctor's Prescriptions</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section doctors">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="section-title">
          <h2>Prescription History</h2>
          <div class="divider mx-auto my-4"></div>
          <p>View a detailed record of all the prescriptions provided to your patients. This section displays the necessary details regarding admission, revisit requirements, lab tests, medication instructions, and prescription dates.</p>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead style="background-color: #257180; color: white;">
          <tr>
            <th>Patient Name</th>
            <th>Admission Required</th>
            <th>Revisit Required</th>
            <th>Lab Tests</th>
            <th>Medication Details</th>
            <th>Dosage Instructions</th>
            <th>Prescription Date</th>
            <th>Payment Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for prescription in prescriptions %}
          <tr>
            <td>{{ prescription.patient.first_name }} {{ prescription.patient.last_name }}</td>
            <td>{{ prescription.admission_required|yesno:"Yes,No" }}</td>
            <td>{{ prescription.revisit_required|yesno:"Yes,No" }}</td>
            <td>{{ prescription.lab_tests }}</td>
            <td>{{ prescription.medication_details }}</td>
            <td>{{ prescription.dosage_instructions }}</td>
            <td>{{ prescription.prescription_date|date:"Y-m-d" }}</td>
            <td>{{prescription.prescription_amount}}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="7" class="text-center">No prescriptions found.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
