{% extends 'pharmacy_base.html' %}
{% load static %}

{% block content %}
<section class="page-title bg-primary">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">ORDER DETAILS</span>
          <h1 class="text-capitalize mb-5 text-lg">Complete Your Order</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="appoinment-wrap mt-5 pl-lg-5">
          <h2 class="mb-2 title-color">Provide Your Delivery Details</h2>
          <p class="mb-4">Fill in the form below to complete your order. Ensure all details are correct for smooth delivery.</p>

          <form method="POST">
            {% csrf_token %}

            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label">Address</label>
                  <input type="text" class="form-control" name="a" placeholder="Enter Address">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label">Phone Number</label>
                  <input type="number" class="form-control" name="p" placeholder="Enter Phone Number">
                </div>
              </div>

              <div class="col-lg-12">
                <div class="form-group">
                  <label class="form-label">Pin Code</label>
                  <input type="number" class="form-control" name="pi" placeholder="Enter Pin Code">
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-main btn-round-full">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
